<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>Covid Database 👋</h1>
        <p>Welcome to Covid Database. Learn more about our <a class="link" href="/api">RESTful api here</a>!</p>
    </div>
</body>
</html>
